#NewCharacterForm input{
    width:100%;
    text-align:center;
}
.centerX{
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
}
.marginCenterX{
    position: relative;
    display: block;
    margin:0 auto;
    left: 50%;
}
#newCharacterBuild{
    width:100%;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}
#NewCharacterCont{
    text-align: center;
    position: absolute;
    padding:5%;
    background-color:white;
    z-index: 0;
    left:40%;
    top:20%;
    border-color:grey;
    border-width:10px;
    border-radius: 10%;
    border-style:solid;
}
#currentCallsign{
    position: absolute;
    top:30%;
}
#power{
    position:absolute;
    bottom:25%;
    left:6%;
    width:3%;
    cursor: pointer;
}
footer{
    background-color:rgb(1, 1, 54);
    padding-top:5%;
    padding-right:105%;
    position: absolute;
    top:92%;
    right:0%;
}
html{
    background-image:url(/media/normalBack.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%; 
    overflow: hidden
}
#database{
    cursor: pointer;
    width:12%;
}
#databaseCont{
    position: absolute;
    padding:5%;
    background-color:white;
    z-index: 0;
    left:40%;
    top:30%;
    border-color:grey;
    border-width:10px;
    border-radius: 10%;
    border-style:solid;
}
input{
    position: relative;
    z-index: 1;
}
#close{
    position: absolute;
    width:5%;
    bottom:90%;
    right:90%;
    cursor: pointer;

}
#vehicle{
    width:15%;
    cursor: pointer;
}
#carDataCont{
    position: absolute;
    padding:5%;
    background-color:white;
    z-index: 0;
    left:40%;
    top:30%;
    border-color:grey;
    border-width:10px;
    border-radius: 10%;
    border-style:solid;
}
#coms{
    width:10%;
    position: absolute;
    left:2%;
    cursor:pointer;
}
#comsPgCont{
    background-color: white;
    position: absolute;
    left:40%;
    padding:8%;
    border-color: grey;
    border-style:solid;
    border-width:10px;
    border-radius:10%;
    bottom:35%;
    text-align: center;

}
#DP{
    position:absolute;
    bottom:75%;
    right:80%;
    font-size:120%;
}
#callsignParam{
    font-weight: bold;
    font-size: 120%;
}
#selectCharacter{
    background-color: white;
    position: absolute;
    left:40%;
    padding:8%;
    border-color: grey;
    border-style:solid;
    border-width:10px;
    border-radius:10%;
    bottom:35%;
    text-align: center;
}
#createNewCharacterA{
    cursor: pointer;
    position: absolute;
    margin-left:1%;

}
#createNewCharacterA:hover{
    font-weight: bold;
}
#databaseInfo{
    background-color: white;
    position: absolute;
    left:35%;
    padding:7%;
    border-color: grey;
    border-style:solid;
    border-width:10px;
    border-radius:10%;
    bottom:10%;
    text-align: center;
}
#vehicleInfo{
    background-color: white;
    position: absolute;
    left:35%;
    padding:8%;
    border-color: grey;
    border-style:solid;
    border-width:10px;
    border-radius:10%;
    bottom:25%;
    text-align: center;
}
#newVehicleCont{
    background-color: white;
    position: absolute;
    left:35%;
    padding:8%;
    border-color: grey;
    border-style:solid;
    border-width:10px;
    border-radius:10%;
    bottom:25%;
    text-align: center;
}
#DMVIcon{
    width:20%;
    cursor: pointer;
}
#DMVCont{
    background-color: rgb(247, 247, 3);
    position: absolute;
    left:35%;
    padding:8%;
    border-color: grey;
    border-style:solid;
    border-width:10px;
    border-radius:10%;
    bottom:35%;
    text-align: center;
    font-weight: 900;
    font-size: 200%;
    color:rgb(3, 3, 160);
}
#DMVCont button{
    -webkit-appearance: none;
    width: 100%;
    height: 50px;
    background-color:rgb(3, 3, 160);
    color:yellow;
}
#licenseHubCont{
    background-color: rgb(247, 247, 3);
    position: absolute;
    left:35%;
    padding:8%;
    border-color: grey;
    border-style:solid;
    border-width:10px;
    border-radius:10%;
    bottom:35%;
    text-align: center;
    font-weight: 900;
    color:rgb(3, 3, 160);
}
#licenseHubCont #header{
    font-size: 200%;
}
#licenseHubCont select{
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}
#licenseStatusVar{
    position: absolute;
    padding-left:1%;
}
#warrants{
    overflow: scroll;
    border-style: solid;
    border-color:black;
    border-width:1%;
    padding:1%;
    display:block;
    height: 100px;
    min-width: 400px;
    max-width: 400px;
    overflow-wrap: break-word;
    overflow-x: hidden;
}
#warrantsUL{
    list-style:none;
    text-align: left;
}
#addWarrantButton{
    position: relative;
    right:35%;
}
#newWarrant{
    background-color: white;
    position: absolute;
    right:35%;
    padding:8%;
    border-color: grey;
    border-style:solid;
    border-width:10px;
    border-radius:10%;
    bottom:35%;
    text-align: center;
}
#removeAllWarrants{
    position: relative;
    right: 35%;
}
#currentCall{
    position: absolute;
    bottom:65%;

}
#currentCallVar{
    font-weight: bolder;
    font-size:120%;
}
#atfIcon{
    width: 15%;
    margin-top:5%;
}
#atfIconCont:hover{
    cursor: pointer;
}
#atfCont{
    position: absolute;
    left:35%;
    padding:8%;
    border-color: grey;
    border-style:solid;
    border-width:10px;
    border-radius:10%;
    bottom:35%;
    text-align: center;
    font-weight: 900;
    font-size: 200%;
    background-color:white;
}
#atfCont button{
    -webkit-appearance: none;
    width: 100%;
    height: 50px;
}
#atfCont p{
    position: absolute;
    bottom:60%;
    right:43%;
}
#newGunCont{
    position: absolute;
    left:35%;
    padding:8%;
    border-color: grey;
    border-style:solid;
    border-width:10px;
    border-radius:10%;
    bottom:35%;
    text-align: center;
    font-weight: 900;
    font-size: 200%;
    background-color:white;    
}
#guns{
     overflow: scroll;
    border-style: solid;
    border-color:black;
    border-width:1%;
    padding:1%;
    display:block;
    height: 100px;
    min-width: 400px;
    max-width: 400px;
    overflow-wrap: break-word;
    overflow-x: hidden;
}
#icon911{
    width:15%;
}
#icon911cont:hover{
    cursor: pointer;
}
#cont911{
    position: absolute;
    left:30%;
    padding:15%;
    padding-right:25%;
    border-color: grey;
    border-style:solid;
    border-width:10px;
    border-radius:10%;
    bottom:20%;
    font-weight: 900;
    font-size: 200%;
    background-color:white;    
}
#texArea911{
    position: absolute;
    resize: none;
    width: 30%;
    height: 20%;
    top:30%;
    overflow: hidden;
}
#cont911 h2{
    position: absolute;
    top:5%;
    left:45%;
}
#cont911 button{
    position: absolute;
    left:46%;
}
::placeholder{
    text-align: center;
}
@media(max-height: 800px){
    #databaseInfo{
        padding:3%;
    }
    #comsPgCont{
        height:10%;
    }
    #callsign{
        position: relative;
        top:30%;
    }
    #statusSelect{
        position:relative;
        top:30%;

    }
}
#buttonUpdate{
    top:40%;
}